*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 237, 237);
}



.cabecera{
    height: 50px;
    width: 50px;
    background-color: red;    
}

#seccionLetras{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 0;
    padding: 0;

}
#letrasCaja a{
    font-weight: bold;
    font-size: 3.2em;
    margin-right: 10px;
}

#guionesCaja span{

    font-weight: bold;
    font-size: 3em;
    margin-right: 10px;
    width: auto;
    
}

#botonesLetras input{
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}


